body {
  font-family: Arial, sans-serif;
  background-image: url('https://pdfz.s3.us-west-1.amazonaws.com/treasureshroom.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 24px;
  color: #FFFFFF;
}

h1.dance {
  position: relative;
  text-align: center;
  font-size: 32px;
  background: linear-gradient(45deg, #FF6347, #FF4500, #FFA500, #FFFF00, #00FF00, #00FFFF, #0000FF, #8A2BE2, #EE82EE);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1.dance:hover {
  animation: dance-animation 1s ease-in-out infinite;
}

@keyframes dance-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

ul.links {
  list-style-type: none;
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

li {
  margin-bottom: 10px;
  display: inline-block;
  width: 250px;
  height: 150px;
  position: relative;
  perspective: 1000px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: color 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

a:hover {
  color: limegreen;
  background-color: black;
}

a:hover::before {
  opacity: 1;
  animation: smoke-animation 1s infinite;
}

@keyframes smoke-animation {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.8;
  }
}
